/* Written by Jay Dansie */

/* 
Changes Made:
- Added dark theme for submit form button
- Adjusted form text for dark theme
- Adjusted form input box styles for dark theme
- Repaired Dark theme centering inconveniences
*/

/* Update the background color of main and header */
body.dark-theme main,
body.dark-theme header, 
body.dark-theme #visitorForm .form-item-flex input[type="text"],
body.dark-theme #visitorForm .form-item-flex textarea,
body.dark-theme .form-item-flex textarea {
    background-color: rgba(39, 39, 39, 0.5);
}

/* Set up the column that contains the image */
body.dark-theme .image-column {
    order: 1;
    padding: 1.5%;
    padding-top: 0;
}

/* Set up the column that contains the image */
body.dark-theme .text-column {
    order: 2;
    margin-right: 3%;
}

/* Update backgrouund image and change font color to white */
body.dark-theme {
    background-image: url('../img/DarkMode/MagesBackground.jpg');
    color: white;
}

/* Update the logo to the white version */
body.dark-theme header img {
    content: url('../img/DarkMode/DSToolsLogoDark.png');
}

/* Update background and font colors */
body.dark-theme .dark-theme {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Update the button colors to white */
body.dark-theme #menuButton,
body.dark-theme #closeButton,
body.dark-theme #themeButton {
    color: white;
}

/* Update the sidebar backgrond color */
body.dark-theme #sidebar {
    background-color: rgba(0, 0, 0, 0.85);
}

/* Update the text color to white in the menu */
body.dark-theme #sidebar nav ul li a,
body.dark-theme #sidebar nav ul li a.menu-item.current,
body.dark-theme #visitorForm .form-item-flex input[type="text"],
body.dark-theme #visitorForm .form-item-flex textarea,
body.dark-theme .form-item-flex textarea {
    color: white;
}

/* Update the generator background color */
body.dark-theme .generator-content p,
body.dark-theme main {
    background-color: rgba(39, 39, 39, 0.5);
}

/* Update the Color of Links */
body.dark-theme a {
    color: rgb(128, 0, 255); /* Set the desired link color in hexadecimal, RGB, or color name */
}

/* Style the Submit Button in Dark Mode */
body.dark-theme #submitBtn.current-theme {
    background-color: #6b97f6;
    color: #ffffff;
}

/* Make Submit Button Change Color when Hovered */
body.dark-theme #submitBtn:hover.current-theme {
    background-color: #6e82d2;
}

/* Media queries */
@media (max-width: 768px) {
    #two-columns {
        /* Set up the two columns to be 1 column */
        flex-wrap: wrap;
    }
    
    body.dark-theme .text-column {
        order: 1; /* Display the text column first */
        flex: 100%; /* Take the full width on small screens */
        margin-bottom: 20px; /* Add some space between the columns */
        margin-left: 4%;
    }

    body.dark-theme .image-column {
        order: 2; /* Display the image column second */
        flex: 100%; /* Take the full width on small screens */
        margin-left: 4%;
    }

}
