/* Written by Jay Dansie */

/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Overall layout styles */
body {
    /* Set the site up */
    padding: 20px;
    background-image: url('../img/YeOldPaperBackground.png');
    background-size: 100% auto;
    background-repeat: repeat-y;
    text-align: center;
}

/* Link Style */
body a {
    color: rgb(159, 21, 0); /* Set the desired link color in hexadecimal, RGB, or color name */
}

/* Header styles */
/* Style the header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(235, 235, 235, 0.5);
    padding: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/* Set header img size */
header img {
    width: 8%;
    height: auto;
}

/* Style the website title */
header,
h1 {
    font-size: 150%;
    text-align: center;
    font-family: 'Garamond', serif;
}

/* BUTTON STYLES */
#Buttons {
    display: flex;
    width: 8%;
}

/* Menu + Close Button Styles */
#menuButton,
#themeButton {
    font-size: 1.5em;
    background: transparent;
    border: none;
    cursor: pointer;
    float: right;
}

/* Style the close button */
#closeButton {
    display: flex;
    font-size: 2em;
    background: transparent;
    border: none;
    cursor: pointer;
    float: right;
}

/* Set the size, color, and animation of the side bar */
#sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    font-size: 1.4em;
    background-color: rgba(235, 235, 235, 0.9);
    transition: right 0.3s ease;
}

/* Set the position of the sidebar when it is open */
#sidebar.open {
    right: 0;
}

nav ul li a.menu-item.current {
    /* Make the menu text itmes be underlined if they are the current page */
    text-decoration: underline;
}

nav ul {
    /* Set the Styles of the menu */
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px;
}

nav ul li {
    /* Set the bottom margin of the menu */
    margin-bottom: 10px;
}

nav ul li a {
    /* Set the color and style of the menu text */
    text-decoration: none;
    color: #333;
    padding: 5px;
}

/* Main styles */
main {
    /* Set the main background color */
    background-color: rgba(235, 235, 235, 0.5);
}

main h2, main p, main h3 {
    /* Set the font for main's h2, p, and h3 */
    font-family: 'Garamond', serif;
}

main h2 {
    /* Set the font positioning and size in h2 */
    padding-top: 2%;
    font-size: 40px;
}

main p, main h3 {
    /* Set the font positioning and size in h3 and p */
    margin-left: 10%;
    font-size: 20px;
}

main img {
    /* Set the main img margins */
    margin-left: auto;
    margin-right: 96px;
}



/* Set the form to be displayed in 2 columns */
#two-columns {
    display: flex;
    justify-content: space-between;
}

/* Set the column styling and sizing */
.text-column,
.image-column {
    padding: 1.5%;
    padding-top: 0;
    box-sizing: border-box;
}

.text-column{
    flex: .85;
    padding: 0;
    padding-right: 2%;
}
.image-column {
    flex: 1.15;
    padding: 1.5%;
    padding-left: 5%;
    padding-top: 0%;
}

.image-column img {
    /* Set the image size and margins */
    justify-content: left;
    width: 100%;
    height: auto;
    margin-right: 5%;
}

figcaption {
    /* Set the image caption */
    font-family: 'Garamond', serif;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

/* Dice Roller Styles */
.dice {
    /* Set the size of the dice */
    width: 100%;
    height: auto;
}

.diceRow, .rollButtonRow {
    /* Set the positioning of the Dice and Buttons */
    grid-column: 1 / span 6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.diceRow {
    /* Align the dice in the Top Row and Set the Margins */
    align-content: center;
    grid-row: 1;
    margin-bottom: 10px;
}

.rollButtonRow {
    /* Align the Buttons in the Bottom Row and Set the Margins */
    grid-row: 2;
    padding: 2%;
}

/* Video Layout */

* {
    /* Set the box sizing */
    box-sizing: border-box;
}

.video-container h3 {
    /* Set the header size and postioning */
    font-size: 30px;
    text-align: center;
    padding-right: 10%;
}

.video-container {
    /* Center the text horizontally */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-text {
    /* Set the container for the centered paragraph */
    text-align: center;
    flex-basis: 100%;
}

.video-container p {
    /* Set the video paragraph positioning */
    margin-left: 0%;
    text-align: center;
}

.video-item {
    /* Set the video item style */
    flex-basis: 50%;
    padding: 10px;
}

/* Generator Styles */
#generator h2 {
    /* Set the h2 top margins */
    margin-top: 33px;
}

.generator-container {
    /* Set the style for the generator-container */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 4.5%;
}

.generator-content {
    /* Get and set the size and position of the generator content */
    flex-basis: calc(50% - 10px);
    padding: 10px;
    box-sizing: border-box;
}

.generator-content h3 {
    /* Set the font size and top margin of h3 */
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

.generator-content p {
    /* Set the background color and font size of p */
    background-color: rgba(235, 235, 235, 0.5);
    font-size: 18px;
}

.generator-content button {
    /* Set the margins and positions of the generator buttons */
    margin-top: 0px;
    margin-left: 10%;
    margin-bottom: 10%;
    padding: 8px 16px;
    font-size: 16px;
}

#randomSentence1, #randomSentence2, #randomSentence3, #randomSentence4, #randomSentence5, #randomSentence6, #randomSentence7, #randomSentence8, #randomSentence9, #randomSentence10 {
    /* Set the style for the randomly generated text */
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}


/* Footer styles */
footer {
    /* Align and set the footer size */
    padding: 10px;
    text-align: center;
    margin-left: 0%;
}

/* Media queries */
@media (max-width: 768px) {
    main {
        /* Make main only 1 collumn on smaller screens */
        grid-template-columns: 1fr;
    }

    header img {
        /* Set the header image size for smaller screens */
        width: 15%;
        height: auto;
    }

    #Buttons {
        /* Change button size */
        width: 15%;
    }
    
    #menuButton,
    #themeButton {
        /* Change button font size */
        font-size: 100%;
    }

    main h3 {
        /* Set the main h3 left margin for smaller screens */
        margin-left: 0%;
    }

    #two-columns {
        /* Set up the two columns to be 1 column */
        flex-wrap: wrap;
    }
    
    .text-column {
        order: 1; /* Display the text column first */
        flex: 100%; /* Take the full width on small screens */
        margin-bottom: 20px; /* Add some space between the columns */
        margin-left: 2.5%;
    }

    .image-column {
        order: 2; /* Display the image column second */
        flex: 100%; /* Take the full width on small screens */
        margin-right: 4%;
    }

    main p {
        /* Set the position and font size of main p for smaller screens */
        margin-left: 7%;
        margin-right: 6%;
        font-family: 'Garamond', serif;
        font-size: 20px;
    }

    .dicecontainer {
        /* Position the Dice for smaller screens */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .diceRow {
        /* Position the Dice to be on the left in a collumn on smaller screens */
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 6;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }

    .rollButtonRow {
        /* Position the roll buttons to be in a collumn on the right on smaller screens */
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 6;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50%;
        margin-bottom: 50%;
    }

    .video-item {
        /* Adjust the video item flex for smaller screens */
        flex-basis: 100%;
    }

    .video-container h3{
        /* Adjust the video h3 left margin for smaller screens */
        margin-left: 10%;
    }

    .video-container p {
        /* Adjust the video p right margin for smaller screens */
        margin-left: 6%;
    }

    .generator-container {
        /* Set the style for the generator-container */
        display:block;
        margin-right: 1%;
    }

    .generator-content button {
        /* Set the margins and positions of the generator buttons */
        margin-left: 1%;
    }
}

/* Show only the Home section */
section:not(#home) {
    display: none;
}
